.score{
    float: right;
}
.liveScore{
    background-color: aliceblue;
    /* margin-left: 50px; */
    /* margin: auto; */
    margin-top: 100px;
    margin-left: 50vw;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.teamScore{
    width: 200px;
}
table{
    width: 500px;
    background-color: aliceblue;
    margin-left: 50px;
    margin-top: 50px;
}
th:nth-child(1){
    width: 100px;
}
td:nth-child(1){
    width: 300px;
}
th,td{
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    
}
.table{
    margin-left: auto;
    margin-right: auto;
}